extends layout

block content
  h1.myTitle #{title}

    .row
       each author in author_list
        .col-sm-3
            .card.text-center.my-auto
              .card-body
                .card-text
                  a(href=author.url) #{author.name}
                  h5.card-title #{author.date_of_birth} - #{author.date_of_death}

       else
          li There are no authors.